<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/feedback/css/ver_feedback.css' %}">
    <script src="{% static '/feedback/js/ver_feedback.js' %}"></script>
</head>
<body>
    <h1>Pedidos</h1>
    <div>
        <a href="../inicio/">voltar</a><br><br>
        <form action="" method="post">
            {%csrf_token%}
            <label for="data">Dia:</label>
            <input id="data" type="date" name="dia">
            <input type="submit" name="send"  value="pesquisar">
        </form>
    </div>
    {% block content%} {% endblock %}
</body>
</html>