{% extends 'corpoAcad/pedido/pedido.html'%}

{% block content %}
{% for pedido in pedidos %}
    <div name="pedido" >
        ID do Pedido: {{ pedido.id }}<br>
        Forma Pag: {{ pedido.formaPag }}<br>
        {% if pedido.feedback == None %}
        <form action="registrar_feedback/" method="get">
            <input type="text" name="pedidoId" value="{{pedido.id}}" hidden>
            <input type="submit" value="Registrar Feedback">
        </form>
        {% endif %}
        {% if not pedido.feedback == None  %}
        <form action="visualizar_feedback/" method="get">
            <input type="text" name="pedidoId" value="{{pedido.id}}" hidden>
            <input type="submit" value="Visualizar Feedback">
        </form>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}