{% extends 'corpoAcad/pedido/pedido.html'%}

{% block content %}
{% for pedido in pedidos %}
    <div name="pedido" >
        ID do Pedido: {{ pedido.id }}<br>
        Forma Pag: {{ pedido.formaPag }}<br>
            <input name="pedidoId" value="{{ pedido.id }}" hidden>
        {% if pedido.feedback == None %}
            <a href="#" id="toggleLink">Escrever Feedback</a>
                <div class="feedback-container" id="feedbackContainer">
                    <button id="fecharButton"></button>
                    <h1>Feedback Pedido nº</h1>
                    <form class="feedback-form" action="#" method="post">{% csrf_token %}
                        <!-- ... campos do formulário ... -->
                        <textarea id="fixedTextarea" maxlength="280" rows="4" cols="50"></textarea>
                        <p id="charCount">Caracteres restantes: 280</p>
                        <button type="submit">Enviar Feedback</button>
                    </form>
                </div>
            {% endif %}
            {% if pedido.feedback.respondido  %}<input type="submit" value="Visualizar Feedback"> {% endif %}
        </form>
    </div><br>
{% endfor %}
{% endblock %}