<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedidos</title>
  <link rel="stylesheet" href="{% static '/feedback/css/ver_feedback.css' %}">
</head>
<body>
  <a href="#" id="toggleLink">Visualisar Resposta</a>
  <div class="feedback-container" id="feedbackContainer">
    <button id="fecharButton"></button>
    <h1>Feedback Pedido nº {{pedidoId}}</h1>
    <!-- ... campos do feedback ... -->
    <textarea id="fixedTextarea" name="fixedTextarea" maxlength="280" rows="4" cols="50" readonly>{{mensagem}}</textarea>
    <!-- ... campos da resposta ... -->
    <textarea id="fixedTextarea2" name="fixedTextarea" maxlength="280" rows="4" cols="50" readonly>{{resposta}}</textarea>
    <a href="../../pedido/">voltar</a>
  </div>
  <script src="{% static '/feedback/js/ver_feedback.js' %}"></script>
</body>
</html>