{% extends 'corpoAcad/cardapio/cardapio.html' %}

{% block content%}
<div>
    <h1><b>Pratos</b></h1>
</div>
{% for prato in pratos %}
    <div name="pedido" >
        Nome do Prato: {{ prato.nome }}<br>
        Valor do Prato: {{ prato.valor }}<br>
        <textarea readonly rows="5" cols="25">{{ prato.desc }}</textarea>
        <form action="registrar_pedido/" method="get">
            {%csrf_token%}
            <input name="pratoId" value="{{ prato.id }}" hidden>
            <input type="submit" value="Pedir">
        </form>
    </div>
{% endfor %}
{% endblock %}